<h1> Homepage </h1>

  <div>
    <form action="/find_restaurant" method = "post">
      <div>
        <label for="diet_check">Select your dietary needs</label>
        <div>
          <%a=1%>
          <%Diet.pluck(:diet_name).each do |diet|%>
            <input id = "diet_check" type="checkbox" name="<%=diet%>" />
            <%=diet%>
            <%a=a+1%>
          <%end%>
        </div>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Find restaurants
      </button>
    </form>
  </div>

<hr>

  <p> Do you have a favorite meal you'd like to share? </p>


      <div class="col">
        <a href="/add_meal" class="btn btn-block btn-outline-secondary">
          Add your favorite meal
        </a>
      </div>